<nav class="flex items-center justify-between bg-white p-4 shadow-md sticky top-0 z-50">
    <div class="flex items-center space-x-2">
        <img src="/images/LOGO.png" alt="RoomMate" class="h-8">
        <h1 class="text-lg font-bold">ROOM MATE</h1>
    </div>
    
    <div class="space-x-4">
        <a href="/" class="text-gray-700">หน้าแรก</a>
        <a href="/" class="text-gray-700">โพสต์</a>
        <a href="/" class="text-gray-700">แชท</a>
        <a href="/" class="text-gray-700">จับคู่สำเร็จ</a>
        <a href="/" class="text-gray-700">กำลังดำเนินการ</a>
    </div>
    <div>
        <a href="/login">
        <button class="px-4 py-2 bg-blue-500 text-white rounded">Log in</button>
    </a>

        <a href="/register">
        <button class="px-4 py-2 bg-gray-700 text-white rounded">Sign up</button>
    </a>

    </div>
</nav>