<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สมัครสมาชิก</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="login-container">
        <h2>สมัครสมาชิก</h2>
        <form action="/register" method="POST">
             <% if (errors.length > 0) { %>
                <% errors.forEach(error => { %>
                    <p class="alert alert-danger"><%= error %></p>
                <% }) %>
            <% } %>
            <div class="input-group">
                <label for="email">อีเมล</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">รหัสผ่าน</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="login-btn">sign up</button>
        </form>

        <p class="register-link"> <a href="/login">เข้าสู่ระบบ</a></p>
    </div>

</body>
</html>